.header {
  padding: 16px 0 14px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnToBack svg {
  vertical-align: middle;
}

.nav {
  display: none;
}

.navLink {
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  color: inherit;
}

.btn {
  display: none;
}

.navLinkActive {
  border-color: var(--pink);
}

.navLinkNotActive:hover,
.navLinkNotActive:active {
  color: var(--pink);
}

.navLinkAuth {
  display: none;
}

.hidden {
  display: none;
}

@media (min-width: 769px) {
  .logoLink img {
    width: 143px;
  }
}

@media (min-width: 1025px) {
  .logoLink {
    margin-right: 20px;
  }
  .nav {
    display: flex;
  }

  .navLink {
    font-size: 1.333rem;
    line-height: 133%;
  }

  .navLink:not(:last-child) {
    margin-right: 20px;
  }

  .navLinkAuth {
    display: block;
  }

  .btn {
    margin-left: 20px;
    display: block;
    font-size: 1.333rem;
    line-height: 133%;
    transition: color 0.2s ease-in-out;
  }

  .btn:hover,
  .btn:active {
    color: var(--pink);
  }
}
