.list {
  display: flex;
}

.item {
  cursor: pointer;
}

.item path {
  transition: fill 0.2s ease-in-out;
}

.item:hover path,
.item:active path {
  fill: var(--pink);
}

.item:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 769px) {
  .item svg {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1025px) {
  .nav {
    display: none;
  }
}
