.account {
  padding-top: 20px;
  padding-bottom: 10px;
}

.title {
  margin-bottom: 40px;
}

.linkGroup {
  display: flex;
  align-items: center;
}

.link {
  padding-bottom: 5px;
  display: flex;
  align-items: end;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  color: inherit;
}

.linkActive {
  border-color: var(--pink);
}

.link:not(:last-child) {
  margin-right: 20px;
}

.link svg {
  margin-right: 3px;
}

.link svg path {
  transition: fill 0.2s ease-in-out;
}

.btnName {
  font-size: 1.333rem;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.linkNotActive:hover .btnName {
  color: var(--pink);
}

.linkNotActive:hover svg path {
  fill: var(--pink);
}

@media (min-width: 1025px) {
  .account {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
