:root {
  --white: #ffffff;
  --green: #308e21;
  --blue1: #67a5eb;
  --blue2: #6a5dc2;
  --blue3: #45526e;
  --pink: #dc5dfc;
  --grey1: #393b3c;
  --grey2: #333;
  --grey3: #747474;
  --grey4: #ffffff80;
  --grey5: #777;
  --grey6: #ffffff50;
  --black: #000;
  --yellow: #a59400;
  --red: #c82020;
}

@font-face {
  font-family: 'Play';
  src:
    local('Play-Bold'),
    local('Play Bold'),
    url('./assets/fonts/Play-Bold.woff2') format('woff2'),
    url('./assets/fonts/Play-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Play';
  src:
    url('./assets/fonts/Play-Regular.woff2') format('woff2'),
    url('./assets/fonts/Play-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-width: 375px;
  font-size: 1rem;
  background:
    linear-gradient(180deg, #000 0%, rgba(39, 36, 36, 0.7) 100%),
    linear-gradient(180deg, rgba(39, 135, 245, 0.9) 0%, rgba(163, 147, 245, 0.9) 100%);
  padding: 0;
  margin: 0;
  font-family: 'Play';
  color: var(--white);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--white);
}

.button {
  border-radius: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  transition: all 0.2s ease-in-out;
}

.btnPrimary {
  background-color: var(--grey1);
  color: var(--white);
}

.btnPrimary:hover,
.btnPrimary:active {
  background-color: var(--blue1);
}

.btnSecondary {
  background-color: var(--blue1);
  color: var(--white);
}

.btnSecondary:hover,
.btnSecondary:active {
  background-color: var(--blue3);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.sectionTitle {
  margin: 0;
  font-weight: 700;
  color: var(--white);
  font-size: 1.333rem;
}

.stop-scroll {
  overflow-y: hidden;
}

@media (min-width: 481px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 769px) {
  .container {
    padding: 0 50px;
  }
  .sectionTitle {
    font-size: 1.555rem;
  }
}

@media (min-width: 1025px) {
  .sectionTitle {
    font-size: 2rem;
  }
}

@media (min-width: 1201px) {
  .container {
    padding: 0 80px;
  }

  .sectionTitle {
    font-size: 2.666rem;
  }
}
