.container {
  width: 100%;
  max-width: 460px;
  padding: 0 20px;
}

.content {
  position: relative;
  padding: 40px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
}

.title {
  width: 132px;
  margin-bottom: 25px;
  margin-right: 8px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  border: 1px solid var(--grey3);
  border-radius: 5px;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
}

.field:last-of-type {
  margin: 0;
}

.fieldFocus {
  border-color: var(--pink);
}

.field:hover {
  border-color: var(--pink);
}

.field svg {
  margin-right: 5px;
}

.field path {
  transition: fill 0.2s ease-in-out;
}

.field:hover path {
  fill: var(--pink);
}

.fieldFocus path {
  fill: var(--pink);
}

.input {
  width: 100%;
  font-family: 'Play';
  color: var(--grey3);
  padding-top: 3px;
  border: none;
  outline: none;
}

.input:focus-visible {
  color: var(--black);
}

.btnEnter {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 100%;
}

.btnClose {
  position: absolute;
  right: 5px;
  top: 5px;
}

.btnClose path {
  transition: fill 0.2s ease-in-out;
}

.btnClose:hover path {
  fill: var(--pink);
}

.btnReg {
  color: var(--black);
  transition: color 0.2s ease-in-out;
}

.btnReg:hover {
  color: var(--pink);
}

.errorText {
  margin: -5px 0 5px;
  color: red;
  font-size: 14px;
}

.field:last-of-type + .errorText {
  margin-top: 5px;
}

@media (min-width: 769px) {
  .content {
    padding: 60px 30px 50px;
  }

  .btnClose {
    right: -60px;
    top: 0;
  }
}
